.widgetSm {
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(235, 235, 235, 0.75);
    box-shadow: 0px 0px 10px -1px white;
    padding: 20px;
    margin-right: 20px;
    color: white;
}

.widgetSmTitle {
    font-size: 24px;
    font-weight: 600;
}

.widgetSmImg {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.widgetSmList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widgetSmUser {
    display: flex;
    flex-direction: column;
}

.widgetSmUsername {
    font-weight: 600;
    margin-bottom: 5px;
}

.widgetSmUserTitle {
    font-weight: 200;
}

.widgetSmButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #AAAAAA;
    color: #DFDFDF;
    cursor: pointer;
}

.widgetSmButton:hover {
    background-color: #6E7C7C;
    color: white;
}

.widgetSmIcon {
    font-size: 16px !important;
    margin-right: 5px;
}