.userList {
    flex: 4;
    color: white;
}

.userListUser {
    display: flex;
    align-items: center;
}

.userListImg {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #206A5D;
    color: white;
    cursor: pointer;
}

.userListDelete {
    color: #FF4646;
    cursor: pointer;
}